
body {
    max-width: 80em;
    margin: 0 auto;
  
    --bg-color: #EEE;
    --panel-color: #FFF;
  
    --main-color: rgb(120, 207, 248);
  
    --dark-color: #333;
    --light-color: #CCC;
  
    --serif-font: 'Merriweather';
    --sans-font: 'Open Sans Condensed';
  
    background-color: var(--bg-color);
    /* background-image: url("http://pureimg.com/public/uploads/large/241499098567zskatohcn7huh6yqgxesbq03encbxntys2shocuahw8yvfro7cswve2diootfpougxzz49ihdtjrzkqolhkc1vxtysqnj7kexdia.jpg")   ; */
    background-image: url("../images/back.jpg")   ;
    background-size: cover;
    overflow-x: hidden;

  }
  
  
a {
    color: var(--main-color);
    text-decoration: none;
  }

  body > header {
    display: grid;
    border: 0.3em solid var(--main-color);
    grid-template-columns: 0.2fr 3fr 0.2fr;
    grid-auto-rows: 1fr 1fr ;
    grid-template-areas: ". hd login"
                        ". hd signup";
    /* grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 1fr; */
    margin: 0 0 1em 0;
    padding: 1em;
  
    font-size: 1em;
    text-align: center;
  
    color: var(--dark-color);
  }

  body > header h1 {
    /* margin: 0; */
    grid-area: hd;
    font-size: 2.5em;
    /* flex-grow: 1; */
    /* grid-column-start: 2; */
    /* grid-row-end: 2; */
  }
body > header h2#index_login{
    margin-top: 1.5em;
    margin-bottom: 0;
    grid-area: login;
    font-size: 1em;
}
body > header h2#index_signup{
    margin: 0;
    grid-area: signup;
    font-size: 1em;
}
  

 body > header {
  font-family: 'McLaren', cursive;
}

input[type=date] {
  box-sizing: border-box;

  padding: 0.5em 0;

  border: 0;
  border-bottom: 1px solid var(--light-color);

  background-color: var(--panel-color);
}
  
input[type=text], input[type=password]{
  box-sizing: border-box;

  padding: 0.6em 0;

  border: 0;
  border-bottom: 1px solid var(--light-color);

  background-color: var(--panel-color);
}


input[type="submit"]{
  padding: 0.2em 1.5em 0.6em 1.5em;

  background: var(--main-color);
  color: var(--panel-color);

  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.2em;

  border:none;
  border-radius: 2px;
  
  text-transform: uppercase;
  text-align: center;
}


input[type="file"]{
    display:none;
    /* text-align: center; */
}
.custom-file-upload {
  /* border: 1px solid #ccc; */
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  background-color: var(--main-color);
  font-family: var(--serif-font);
  text-align: center;
  margin-left: 45%;
}

body > form{
  width: 45%;
  margin: auto;
  border: 0;
}


body > section#Top_places{
    
    width: 60%;
    height: auto;
    text-align: center;
    margin: auto;
}

body > section#Top_places div{
    margin: 4em;
    border-radius: 1em;
    border: 10px solid;
    border-color: #333;
    background-color: aliceblue;
    display: grid;
    justify-content: space-between;
    grid-template-columns: 75% 25%;
    grid-template-rows: 3fr 2fr 2fr;
}

img{
    grid-row: span 2;
    padding: 0;
    width: 100%;
    height: 140%;
}
p:last-child{
    /* padding: 1em; */
    margin: 0;
    grid-column-start: 2;
}

p:first-of-type{
    padding: 1em;
    margin-bottom: 0;
    font-size: 1.5rem;
}

p{
    font-family: 'ZCOOL XiaoWei', serif;
}

#login{
  height: 30em;
}


#signup {
  height: 35em;
}

#login, #signup {

  width: 30em;
  margin: 2em auto;

  border: 1px solid var(--light-color);

  background: white;
}



#login form, #signup form {
  margin: 2em 0 0 0;
  padding: 1em;

  background-color: var(--panel-color);
} 

#login input, #signup input{
  display: block;
  margin: 1em 0;
  width: 100%;
  height: 4em;
  text-align: center;
}

#login footer{
  margin-top: 2em;
    text-align: center;
}


#house input{
  display:block;
  text-align:left;
  width: 100%;
  height: 5em;
  margin:2em 0;
}

#house input[type="submit"]{
  text-align:center;
}

#house #cost{
  text-align: center;
  width:20%;
  align-content: center;
  margin-left: 40%;
}

footer{
  font:small;
  background-color: black;
  color: var(--main-color);
  font-family: 'McLaren', cursive;
  font-size:16px
}
.foot{
  display:grid;
  font-size:13px;
}
ul{
  list-style-type: none;
}

.web{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  text-align: center;
}
.web>p{
  font-size:12px;
}
footer h1{
  font-size: 16px;
  text-align: center;
}

section#places div p{
    color: white;
}

section#house h1#manage_house{
  color: var(--main-color);
}


#your_house{
  display:grid;
  grid-template-columns: 30% 50% 20%;
  grid-template-rows: 7em 7em;

  color: white;
  padding-left:1em;
  padding-right: 1em;
  padding-top:5px;
  padding-bottom:5px;
  background-color: black;
  margin: 1em;
  font-family: 'McLaren', cursive;
  border: 0.1em solid var(--main-color);
}

#your_house #house_img{
  width:100%;
  height:100%;
  display: flex;
  padding-bottom: 1em;
  
}

#your_house #tit{
  text-indent: 1em;
  text-transform: uppercase;
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}
#your_house #pri{
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;
  text-align: right;
}
#your_house #desc{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  text-align: left;
}
#link{
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 3;
  text-align: right;
  vertical-align: center;
}

#Change data{
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50%,50%;
}
#credentials, #create, #manage, #statistics{
  background-color: Black;
  margin: 1em;
  padding:0.5em;
  font-family: 'McLaren', cursive;
  border: 0.1em solid var(--main-color);
  text-align: center;
  vertical-align: center;
}

#house_full{
  width: 90%;
  margin: auto;
  background-color: aliceblue;
}


.fav {

  text-align: right;
  /* position: relative; */
  display: inline-block;
  border-bottom: 1px dotted black;
}

.fav h2#favs_icon{
  text-align: right;
  font-family: var(--serif-font);
}

.fav .favour{
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 105%;
}

.fav:hover .favour{
  visibility: visible;
}