
body {
    max-width: 80em;
    margin: 0 auto;
  
    --bg-color: #EEE;
    --panel-color: #FFF;
  
    --main-color: rgb(120, 207, 248);
  
    --dark-color: #333;
    --light-color: #CCC;
  
    --serif-font: 'Merriweather';
    --sans-font: 'Open Sans Condensed';
  
    background-color: var(--bg-color);
  }

  
a {
    color: var(--main-color);
    text-decoration: none;
  }

  body > header {
    display: grid;
    grid-template-columns: 0.2fr 3fr 0.2fr;
    grid-auto-rows: 1fr 1fr;
    grid-template-areas: ". hd login"
                        ". hd signup";
    /* grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 1fr; */
  
    margin: 0;
    padding: 1em;
  
    font-size: 1em;
    text-align: center;
  
    color: var(--dark-color);
  }

  body > header h1 {
    /* margin: 0; */
    grid-area: hd;
    /* flex-grow: 1; */
    /* grid-column-start: 2; */
    /* grid-row-end: 2; */
  }
  body > header h2#login{
     margin-top: 0.7em;
    margin-bottom: 0;
    grid-area: login;
    font-size: 1em;
}
body > header h2#signup{
    margin: 0;
    grid-area: signup;
    font-size: 1em;
}
  

  body > header h1 a {
    font-family: var(--sans-font), sans-serif;
  }

body > section#Top_places {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr;
    grid-template-rows: 4fr 4fr 4fr 4fr;
    grid-template-areas:
                         ". img1 p1 ."
                         ". img2 p2 ."
                         ". img3 p3 ."
                         ". img4 p4 .";

}

body > section#Top_places div#Barcelona img{
    grid-area: img1;
}

body > section#Top_places div#Barcelona p:first{
    grid-area: p1;
}


body > section#Top_places div#Amsterdam img{
    grid-area: img3;
}

body > section#Top_places div#Amsterdam p:first{
    grid-area: p3;
}

body > section#Top_places div#Paris img{
    grid-area: img2;
}
body > section#Top_places div#Paris p:first{
    grid-area: p2;
}


body > section#Top_places div#Lisbon img{
    grid-area: img4;
}
body > section#Top_places div#Lisbon p:first{
    grid-area: p4;
}